
$cellPadding: 15px;
$tblBorderWidth: 1px;
$cellBorderWidth: 7px;
$OpenCellBorderWidth: 3px;

/* Colors Default   */
$grayClrD2: 		#d2d2d2;
$grayClr45: 		#454545;
$grayClr7c: 		#7c7c7c;
$warningClr:		#f8ac59;
$infoClr:			#1c84c6;
$successClr:		#1ab394;
$dangerClr: 		#ed5565;
$rowHoverClr: 		#ebebeb;

/* Font Defaults */
$pageFontSize: 16px;




